body {
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
}
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
p {
  color: rgb(255, 255, 255);
}
.center-text {
  text-align: center;
}
h1 {
  font-weight: bold;
}
label {
  color: rgb(255, 255, 255);
}
.textbox {
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
}

.textbox:focus {
  padding: 10.125px;
  font-size: 16.125px;
  outline: none;
}

.submit-btn {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  color: #000000;
  background-color: #ffffff;
}